<div class="modal fade" id="addNewFaceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="addNewFaceModel_form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDeviceBoxLabel">Add New Face</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addNewFaceModel_nameInput" required>Name</label>
                        <input type="text" id="addNewFaceModel_nameInput" class="form-control"  aria-describedby="emailHelp" placeholder="Enter name">
                        <small id="deviceNameHelp" class="form-text text-muted">Please give your device a nick name.</small>
                    </div>
                    <div class="form-group">
                        <label for="addNewFaceModel_descriptionInput">Description</label>
                        <input type="text" id="addNewFaceModel_descriptionInput" class="form-control"  aria-describedby="emailHelp" placeholder="Enter a description">
                        <small id="deviceIdHelp" class="form-text text-muted">Please enter your device's id number.</small>
                    </div>
                    <div class="form-group">
                        <label for="addNewFaceModel_faceUpload">Upload a face photo</label>
                        <div id="addNewFaceModel_faceUpload" class="imageupload card">
                            <div class="file-tab card-body">
                                <label class="btn btn-outline-dark btn-file uploadFace__browseBtn">
                                    <span>Browse</span>
                                    <input type="file">
                                </label>
                                <button type="button" class="btn btn-outline-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="addNewFaceModel_submitBtn" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>