<section class="deviceMessage__container">
    <h2 class="index__section__title">Device Message</h2>
    <div class="deviceMessage__deviceInfo">
        <p>Name: TEST</p>
        <p>IP: 000.000.000.000</p>
        <p>Status: ON</p>
    </div> 
    <div class="deviceMessage__messageList">
        
    </div>
</section>