<div class="deviceList__row">
    <button type="button" class="btn btn-primary deviceList__addBtn" data-toggle="modal" data-target="#addDeviceBox">
        <i class="fas fa-plus"></i>
        <span class="deviceList__addBtn__text">Add Device</span>
    </button>

    <form>
        <div class="modal fade" id="addDeviceBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDeviceBoxLabel">Add Device</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="deviceNameInput">Device Name</label>
                        <input type="text" class="form-control" id="deviceNameInput" aria-describedby="emailHelp" placeholder="Enter name">
                        <small id="deviceNameHelp" class="form-text text-muted">Please give your device a nick name.</small>
                    </div>
                    <div class="form-group">
                        <label for="deviceIdInput">Device ID</label>
                        <input type="text" class="form-control" id="deviceIdInput" aria-describedby="emailHelp" placeholder="Enter id">
                        <small id="deviceIdHelp" class="form-text text-muted">Please enter your device's id number.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                </div>
            </div>
        </div>
    </form>

    <ul class="deviceList__list">
        <button type="button" class="btn btn-dark deviceList__deviceBtn">
            <div class="deviceList__infoCol">
                <p>Name: My Home Camera</p>
                <p>Id: 000000001</p>
            </div>
            <div id="deviceBtnMesCount" class="deviceList__deviceBtn__mesCount">
                <span class="badge badge-info"><i class="far fa-bell"></i><span>0</span></span>
            </div>
        </button>
    </ul>
</div>