<section class="index__section">
    <h2 class="index__section__title">Devices List</h2>
    <button class="common__btn">Add Device</button>
    <div class="devicesList__devicesContainer">
        <div class="devicesList__diviceBox">
            <p>Name: TEST</p>
            <p>IP: 000.000.000.000</p>
            <p>Status: ON</p>
        </div>
    </div>   
</section>