<div class="deviceList__row">
    <button type="button" class="btn btn-primary deviceList__addBtn">
        <i class="fas fa-plus"></i>
        <span class="deviceList__addBtn__text">Add Device</span>
    </button>
    <ul class="deviceList__list">
        <button type="button" class="btn btn-dark deviceList__deviceBtn">
            <div class="deviceList__infoCol">
                <p>Name: XXXXXXXXXXXX</p>
                <p>Id: 000000001</p>
            </div>
            <div class="deviceList__deviceBtn__mesCount">
                <span class="badge badge-info"><i class="far fa-bell"></i>9</span>
            </div>
        </button>

        <button type="button" class="btn btn-dark deviceList__deviceBtn">
            <div class="deviceList__infoCol">
                <p>Name: XXXXXXXXXXXX</p>
                <p>Id: 000000001</p>
            </div>
            <div class="deviceList__deviceBtn__mesCount">
                <span class="badge badge-info"><i class="far fa-bell"></i>9</span>
            </div>
        </button>
    </ul>
</div>