<div class="bg-dark main__footer">

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/Garrik-Liu/secure_camera" target="_blank">GitHub</a>
  </li>
</ul>

</div>