<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="howto">
        <img src="images/logo.png" height="30" class="d-inline-block align-top" alt="">
        <span class="main__title">Home Security</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="howto">How to use?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="aboutUs">About Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <% if(userInfo.email) { %>
            <li class="nav-item">
                <a href="dashboard" class="btn btn-outline-danger">Dashboard</a>
            </li>
            <li class="nav-item main__header__userDropBtn">
                <div class="btn-group" role="group">
                    <button id="headerUserDropBtn" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= userInfo.email %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="headerUserDropBtn">
                    <a class="dropdown-item" href="/logOut">Log Out</a>
                    </div>
                </div>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#logInModal">
                    Log In
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#signUpModal">
                    Sign Up
                </a>
            </li>
        <% } %>
        </ul>
    </div>

    <%- include('./loginModel.ejs') %>
    <%- include('./signUpModel.ejs') %>
</nav>