<form class="login" action="loginpage" method="POST">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginBoxLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="loginAccountInput">Account</label>
            <input type="text" class="form-control" id="loginAccountInput" name="user" aria-describedby="emailHelp" placeholder="Enter account" required value="" />
          </div>
          <div class="form-group">
            <label for="loginPasswordInput">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" placeholder="Enter password" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary pull-right">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>