<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <%- include('./common_components/links.ejs') %>
    <link rel='stylesheet' href='/stylesheets/aboutUs.css' />
</head>

<body>
    <div class="main__container">
    <%- include("./common_components/header.ejs") %>
    <div class="main__main">
        <div class="aboutUs__infoContainer">
            <div class="card aboutUs__infoCard bg-info text-white" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Xiang Liu(Garrik)</h5>
                    <p class="card-text">Email: garrikliu@gmail.com</p>
                    <p class="card-text">Phone: 647-887-9764</p>
                </div>
            </div>
            <div class="card aboutUs__infoCard bg-info text-white" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Weihong He</h5>
                    <p class="card-text">Email: xxxxxx@xxx.com</p>
                    <p class="card-text">Phone: xxx-xxx-xxx</p>
                </div>
            </div>
        </div>
    </div>
    <%- include("./common_components/footer.ejs") %>
    </div>
    <%- include('./common_components/scripts.ejs') %>
</body>

</html>