<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Security</title>
    <%- include('./common_components/links.ejs') %>
    <link rel='stylesheet' href='/stylesheets/hwoto.css' />
</head>

<body>
    <div class="main__container">
    <%- include("./common_components/header.ejs") %>
    <div class="main__main">
        <h1>HOW TO</h1>
    </div>
    <%- include("./common_components/footer.ejs") %>
    </div>
    <%- include('./common_components/scripts.ejs') %>
</body>

</html>