<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Security</title>
    <%- include('./common_components/links.ejs') %>
    <link rel='stylesheet' href='/stylesheets/hwoto.css' />
</head>

<body>
    <div class="main__container">
    <%- include("./common_components/header.ejs") %>
    <div class="main__main">
        <div class="jumbotron bg-dark text-white">
            <h1 class="display-4">Home Security</h1>
            
            <hr class="my-4">
            <p>This is what an security camera should be!</p>
            <a class="btn btn-primary btn-lg" href="/aboutUs" role="button">About Us</a>
        </div>
    </div>
    <%- include("./common_components/footer.ejs") %>
    </div>
    <%- include('./common_components/scripts.ejs') %>
</body>

</html>
