<!DOCTYPE html>
<html>
  <head>
    <title>Home Security</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="common__container">
      <header class="common__header">
        <a class="common__header__title" href="/">Home Security</a>
        <nav class="common__header__nav">
          <li class="common__header__nav__item">
          <a href="/login">Login</a>
          <div class="common__header__nav__underBar"></div>
          </li>
        </nav> 
      </header>
      <main class="index__main">
        <section class="index__section">
          <h2 class="index__section__title">Devices List</h2>   
        </section>
        <section class="index__section">
          <h2 class="index__section__title">Live</h2>
        </section>
        <section>
          <form method="POST" action="/images/add">
            <input type="file" name="img" />
            <input type="submit" value="submit" />
          </form>
        </section>
      </main>
      <footer class="common__footer">
        <a href="#">Contact Us</a>
      </footer>
    </div>
  </body>
</html>
