<!-- component used to operate device -->
<div class="deviceList__row">
    <button id="deviceSwitch" type="button" class="btn btn-danger">Switch</button>

    <button type="button" class="btn btn-dark deviceList__deviceBtn">
        Snapshots
        <div id="deviceBtnMesCount" class="deviceList__deviceBtn__mesCount">
            <span class="badge badge-info"><i class="far fa-bell"></i><span class="mesCount__number">0</span></span>
        </div>
    </button>

</div>