<!-- component used to show snapshot list-->
<div id="deviceMesBox" class="bg-dark deviceMesBox__container--close">
    <span class="closeBtn">
    <i class="fas fa-times"></i>
    </span>
    <div class="deviceMesBox__mesWindow">
    </div>
</div>