<!-- component used to zoom in every snapshot -->
<div id="imgShowBoxId" class="imgShowBox--close">
    <span class="closeBtn">
        <i class="fas fa-times"></i>
    </span>
    <div class="imgShowBox__controlPanel">
        <div class="imgShowBox__imgContainer">
            <div class="imgShowBox__imgBoundingBox"></div>
            <img class="imgShowBox__img" src="" crossOrigin="anonymous"/>
        </div>
        <div class="imgShowBox__faceDetectPanel" id="imgShowBoxFaceDetectPanel">
            
        </div>
    </div>
</div>