<section class="index__section">
    <h2 class="index__section__title">Live</h2>
    <form action="images/add" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">SUBMIT</button>
    </form>
</section>