.main__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutUs__infoContainer {
    display: flex;
    flex-direction: column;
}

.aboutUs__infoCard {
    width: 100%;
    margin-bottom: 20px;
}