.deviceMessage__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.deviceMessage__messageList {
    flex: 1 1 auto;
    margin-top: 20px;
    background-color: #fff;
}