.deviceControl__row {
    flex: 1 1 auto;
    display: flex;
    position: relative;
}

.imgShowBox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 200ms;
}

.imgShowBox img {
    padding: 10px;
    height: 100%;
}

.imgShowBox--close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1000;
    width: 0%;
    height: 100%;
    opacity: 0.9;
    background-color: #333;
    transition: 200ms;
    overflow: hidden;
}

.imgShowBox .closeBtn {
    left: 7px;
    top: 0px;
    cursor: pointer;
    color: #fff;
    transition: 200ms;
    position: absolute;
    font-size: 40px;
}

.imgShowBox .closeBtn:hover {
    color: #ddd;
}

.imgShowBox--close .closeBtn {
    left: 0px;
    top: 0px;
    cursor: pointer;
    color: #fff;
    transition: 200ms;
    position: absolute;
    font-size: 0px;
}