.deviceLive__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 500px;
    margin: 0px 20px;
    border: 1px solid #333;
}

.deviceLive__canvas {
    width: 100%;
    padding: 10px;
}