.deviceControl__row {
    flex: 1 1 auto;
    display: flex;
    position: relative;
}

#imgShowBox {
    position: absolute;
    z-index: -1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-color: #333;
}