.deviceList__row {
    display: flex;
    margin: 20px 0;
    padding: 0 20px;
}

.deviceList__deviceBtn {
    position: relative;
    margin-right: 20px;
}

.deviceList__deviceBtn__mesCount {
    position: absolute;
    top: -15px;
    right: -15px;
    opacity: 0;
    transition: opacity, 200ms;
}

.deviceList__deviceBtn__mesCount .badge {
    display: flex;
    align-items: center;
}

.deviceList__deviceBtn__mesCount .fa-bell::before {
    font-size: 16px;
    margin-right: 2px;
}