* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main__header__dashboardBtn {
    margin-right: 5px;
}

.main__title {
    margin-left: 5px;
}

.main__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    position: relative;
}

.main__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main__footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}