* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__title {
    margin-left: 5px;
}

.main__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.main__footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.closeBtn {
    cursor: pointer;
    color: #fff;
    transition: 200ms;
    position: absolute;
    font-size: 20px;
    padding: 5px;
}

.closeBtn:hover {
    color: #ddd;
}