.uploadFace__browseBtn__container {
    margin: 10px 0px;
}

.cropper-container {
    width: 100% !important;
}

.trustFaces__container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 10px;
}

.trustFace {
    margin: 10px;
}

.thumbnail {
    display: block;
}

.uploadFace__browseBtn {
    margin-top: 7px;
}