.uploadFace__browseBtn__container {
    margin: 10px 0px;
}

.trustFaces__container {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    display: block;
    max-width: 100%;
}

.uploadFace__browseBtn {
    margin-top: 7px;
}